In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.read_csv('./Database/article_info.csv')

,articleID,Title,Content,Format,Language,userID,userCountry,userRegion
0,ARTICLE_0000,19 Tips For Everyday Git Use,I've been using git full time for the past 4 y...,HTML,en,USER_0683,NaN,NaN
1,ARTICLE_0001,Intel buys computer vision startup Itseez to i...,Intel has acquired computer vision and machine...,HTML,en,USER_1129,NaN,NaN
2,ARTICLE_0002,Practical End-to-End Testing with Protractor,One of the reasons AngularJS is so great to wo...,HTML,en,USER_0256,NaN,NaN
3,ARTICLE_0003,Corporate venture growth in Brazil is another ...,Despite recent positive news and a renewed int...,HTML,en,USER_1304,NaN,NaN
4,ARTICLE_0004,Cross-channel user experiences with Drupal (aw...,"Last year around this time, I wrote that The B...",HTML,en,USER_0336,NaN,NaN
...,...,...,...,...,...,...,...,...
3003,ARTICLE_3003,Como consumir conteúdo de qualidade em iOS - C...,"Quando iniciei minha jornada em Swift, saindo ...",HTML,pt,USER_0882,BR,MG
3004,ARTICLE_3004,Aurelia 1.0 is Here!!!,It's been an amazing journey to get here and i...,HTML,en,USER_0220,NaN,NaN
3005,ARTICLE_3005,Lessons from converting an app to 100% Kotlin ...,This is part one in a series of posts about Ko...,HTML,en,USER_1010,BR,SP
3006,ARTICLE_3006,ITA está oferecendo 10 cursos gratuitos a dist...,"O Instituto Tecnológico de Aeronáutica (ITA) ,...",HTML,pt,USER_1210,NaN,NaN
3007,ARTICLE_3007,Analytics startup Amplitude raises $15M,Amplitude announced this morning that it has r...,HTML,en,USER_0067,NaN,NaN

In [3]:
pd.read_csv('./Database/view_log.csv')

          userID     articleID userRegion userCountry
0      USER_0000  ARTICLE_0661         NY          US
1      USER_0000  ARTICLE_2316         NY          US
2      USER_0000  ARTICLE_1345         NY          US
3      USER_0000  ARTICLE_1089         NY          US
4      USER_0000  ARTICLE_1484         NY          US
...          ...           ...        ...         ...
42712  USER_1420  ARTICLE_0682         SP          BR
42713  USER_1420  ARTICLE_2179         SP          BR
42714  USER_1420  ARTICLE_1848         SP          BR
42715  USER_1420  ARTICLE_0030         SP          BR
42716  USER_1420  ARTICLE_2423         SP          BR

[42717 rows x 4 columns]

In [4]:
pd.read_csv('./Database/sample_submission.csv')

         userID     articleID
0     USER_0000  ARTICLE_0000
1     USER_0000  ARTICLE_0001
2     USER_0000  ARTICLE_0002
3     USER_0000  ARTICLE_0003
4     USER_0000  ARTICLE_0004
...         ...           ...
7070  USER_1420  ARTICLE_0000
7071  USER_1420  ARTICLE_0001
7072  USER_1420  ARTICLE_0002
7073  USER_1420  ARTICLE_0003
7074  USER_1420  ARTICLE_0004

[7075 rows x 2 columns]

In [6]:
df_0=pd.read_csv('./Database/ncf_data.csv')

In [10]:
len(df_0)

43019

In [9]:
df_0['u_id'].nunique()

20246